.homeContainer { 
    justify-self: center;
    align-self: center;

    display: flex ;
    flex-direction:column; 
    gap: 5rem;

    max-width: 80rem;

}


.homeContainer > h1 { 
    font-size: 2.3rem;

    text-align: center;

    color: var(--text-color);
}

.homeContainer > button { 
    
    background: var(--green-btn);
    padding: 1rem; 
    border-radius: 1rem;
    color: #fff;

    font-size: 2rem;
}

.homeContainer > button:hover{ 
    background: var(--green-btn-hover);
}